@import "reset";
@import "common";

.yi-reader{
	height: 600px; width: 100%; position: relative;
	.page{ 
		width: 90%; margin: 0 auto; overflow: hidden; height: 600px; line-height: 600px; text-align: center;
		.item{ display: inline-block;vertical-align: middle;}
		img{ vertical-align: middle;}
	}
	.nav{ position: absolute; right: 10px; top: 10px; width: 100px; height: 100%; overflow: hidden;}
	.list li{ width: 100px; margin: 10px auto; cursor: pointer;}
	.list img{ width: 100px;}
}

.slider{
	position: relative; height: 460px; width: 1216px; margin: 0 auto; text-align: center; overflow: hidden;
	.pics{ position: relative; height: 460px; width: 1216px; margin: 0 auto; overflow: hidden;
		li{ display: none; position: absolute; top:0; margin: 0 auto; width: 100%; height: 460px;}
	}
	img{ height: 460px; width: 1216px; margin: 0 auto; .ease(all, 4s);}
	li:hover img{.scale(1.05);}
	.bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; .opacity(0.1); background: #000; z-index: 0;}
	.btns{ 
		display: inline-block; margin: 0 auto; padding: 0 10px; height: 43px; line-height: 43px; position: relative; top:-43px; z-index: 10;
		a{ display: inline-block; position: relative;z-index: 1; margin: 0 5px; width: 8px; height: 8px; border-radius: 100%; border: 1px solid #fff;}
		.current{ background: #fff;}
	}
	.btn-switch{
		width: 1216px; margin: 0 auto; position: relative; z-index: 10; 
		.prev, .next{ display: inline-block; width: 40px; height: 51px; position: absolute; top: -300px; background: @icons -147px -389px no-repeat; .ease; .opacity;}
		.prev{ left: -99px; background-position: -147px -389px;}
		.prev:hover{ background-position: -147px -445px;}
		.next{ right: -99px; background-position: -207px -389px;}
		.next:hover{ background-position:  -207px -445px;}
	}

}
.content{ 
	margin: 0 auto;
	.about{
		margin: 15px auto 50px; position: relative; padding-top: 15px; height: 85px; border-top: 5px solid @black; border-bottom: 5px solid @yi; font-size: 22px;
		h3{ font-size: 32px; display: inline; color: @black;}
		.mo{ position: absolute; right: 10px; bottom: 5px; display: inline-block; background: @yi; line-height: 30px; padding: 0 10px; color: #fff; font-size: 14px;}
		.mo:hover{ background: #457db7; .ease;}
	}
}

.box{
	margin-bottom: 70px;
	.title{ border-top: 1px solid #ccc; text-align: center; height: 45px;
		h3{ position: relative; top: -22px; padding: 0 20px; display: inline-block; line-height: 45px;font-size: 32px; color: @black; background: #fff; }
		.mo{ color: @yi; font-size: 12px;}
	}
	.con{ padding-top: 20px;}
}
/*直通车*/
.zhitongche{
	.icon{ display: inline-block; width: 132px; height: 125px; background: @icons 0 -120px no-repeat;}
	.icon-1{background-position: 0 -251px; width: 123px;}
	.icon-2{background-position: -147px -251px; width: 72px;}
	.icon-3{background-position: 0 -120px;}
	.icon-4{background-position: -140px -120px;}
	h4{ font-size: 24px; line-height: 2;}
	p{ padding-bottom: 15px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.mo{ display: inline-block; background: @yi; line-height: 30px; padding: 0 10px; color: #fff; font-size: 14px; .ease;}
	.mo:hover{ background: #457db7;}
	li{ float: left; width: 300px; text-align: center;}
}

/*活动公告*/
.pattern{ background: url("../img/bg.png") 0 0 repeat;}
.poster{ margin-top: 20px;
	li{ float: left; margin:0 14px 40px; padding: 20px; width: 540px; height: 290px; overflow: hidden; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);}
	.attr{  position: relative; height: 100px; padding-left: 90px;}
	.date{
		position: absolute; left: 0; top: 0; border-right: 1px solid #ccc; width: 80px; line-height: 0.9; text-align: center;
		span{ display: block;}
		.month{ color: @black; font-size: 28px;}
		.day{ color: @yi; font-size: 58px;}
	}
	.pubdate{ position: absolute; right: 0; top: 0;}
	.author{ position: relative; padding-left: 90px; font-size: 13px; font-weight: 700;
		.avatar{ position: absolute; left: 0; top:0; width: 76px; height: 76px;}
	}
	.extra{
		position: absolute; bottom: 20px; left: 180px;
		.icon{ display: inline-block; width: 30px; height: 22px; background: @icons -125px -66px no-repeat;}
		.icon2{ background-position: -181px -66px;}
	}
	.t{ font-size: 22px; color: @black; width: 100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 2;}
	.txt{ height: 85px; overflow: hidden; line-height: 1.7; font-size: 13px;}
	.mo{ text-align: right; padding: 20px 0;
		a{display: inline-block; background: @yi; line-height: 30px; padding: 0 10px; color: #fff; font-size: 14px; .ease;}
		a:hover{ background: #457db7;} 
	}
}

/**/
.magazine{ position: relative;
	.c{ /*width: 1108px;*/ margin: 0 auto; overflow: hidden;}
	.slide{ width: 1000%;}
	li{ margin-right: 64px; float: left; width: 256px; text-align: center; overflow: hidden;}
	.cover{ width: 256px; height: 351px; margin-bottom: 15px;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); .ease(all, 1s);}
	.cover:hover{ .scale;}
	h4{ margin-bottom: 7px; font-size: 24px; font-weight: 700; color: @black;}
	p{ font-size: 16px; font-weight: 700;}
	.btn-read{ background: @black; color: #fff; font-size: 14px; padding: 0 8px; font-weight: 400; margin-left: 10px; line-height: 20px; display: inline-block; vertical-align: middle;}
	.btn-read:hover{ background: #000; .ease;}
	.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{ position: absolute; top:138px; width: 22px; height: 40px; background: @icons 0 -66px no-repeat; cursor: pointer;}
	.nbs-flexisel-nav-left{ left: 0;}
	.nbs-flexisel-nav-right{ right: 0; background-position: -57px -66px;}
	.nbs-flexisel-container{ width: 1108px; overflow: hidden;}
}

.member{ position: relative;
	.c{ width: 1110px; margin: 0 auto; overflow: hidden;}
	.slide{ width: 9999%;}
	li{ float: left; width: 185px; height: 100px; line-height: 100px; text-align: center; overflow: hidden;}
	li a{ display: inline-block; vertical-align: middle;}
	.cover{ vertical-align: middle; height: 60px; max-width: 170px;}
	.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{ position: absolute; top:50px; width: 22px; height: 40px; background: @icons 0 -66px no-repeat; cursor: pointer;}
	.nbs-flexisel-nav-left{ left: 0;}
	.nbs-flexisel-nav-right{ right: 0; background-position: -57px -66px;}
	.nbs-flexisel-container{ width: 1110px; overflow: hidden;} 

}
.nbs-flexisel-ul{ position: relative;}





